body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid salmon;
    height: 540px;
    width: 540px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-direction: row;
    }

.container>div {
    margin: 0;
    height: auto;
    width: 20px;
    justify-content: stretch;
    align-items: stretch;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.container>div>* {
    flex: 1;
}

.row:hover {
    background-color: black;
}
